//
//  APIKeyConfig.xcconfig
//  tip-calculator
//
//  Created by Willy Hsu on 2026/2/6.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GOOGLE_GEOCODING_API_KEY = AIzaSyB8MqI_PD1KZKEplNbUGN20uPFEZgB5M5o
